# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Distribution files
dist/
build/
*.egg-info/

# IDE/editor specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables file
.env

# Log files
*.log

# Python cache files
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/